    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      
    </style>
  

    
<!-- Begin page content -->
<main role="main" class="flex-shrink-0 blackened">
  <div class="container">
    
   
    
    
    <h1 class="mt-5 fancytext">About Us</h1>
    <!--<p class="lead">English phrases and their translations in indigenous languages</p>-->
       
    <p>AndWhyJayCee is a team of JC1 students from Nanyang Junior College (NYJC). We are new to computing. We are passionate about learning and applying computing to make our community a better place.</p>

<p>This website would not have been possible without Fossasia, UNESCO and the mentors who helped out throughout this event.</p>

<p>It has been an exciting and enriching first Hackathon for us.</p>


</div></main>

<div>
      <div class="container">
<h1>References</h1>


<p>Some resources we have used</p>
<a class="reference" href="https://icons8.com/icon/43593/book">Book icon by Icons8</a><br>
<a class="reference" href="https://icons8.com/icon/43632/map">Map icon by Icons8</a><br>
<a class="reference" href="https://icons8.com/icon/43597/box-important">Box Important icon by Icons8</a><br>
<a href="https://icons8.com/icon/44822/megaphone">Megaphone icon by Icons8</a><br>
<a href="https://icons8.com/icon/44808/headset">Headset icon by Icons8</a><br>
<a href="https://icons8.com/icon/44008/globe">Globe icon by Icons8</a><br>

</div>
</div>



<script src="{{ url_for('static', filename='words.js') }}"></script>

