
    <style>
        #chartdiv{
           //width:100em;
            height:40em;
        }
        #info{
            height:20em;
        }
        #infolang{
            line-height:1.6;
        }
    </style>

<div id="chartdiv"></div>

<main role="main" class="blackened">
<br>
<div class="container" id="info">
  <h1 class="fancytext" id="infotitle">Information</h1><br>
  <h4 id="infolang">Click on any highlighted country to know more about it's indigenous languages</h4>
</div>
   <!-- /container -->
  



</main>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/ammap.js"></script>
<script type="text/javascript" src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
<script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='locations.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"></script>
